<h2 mat-dialog-title>Nuevo Socio</h2>
<mat-dialog-content>
    <form [formGroup]="form" class="dialog-form">

        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="Nombre">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="Apellido">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>DNI</mat-label>
            <input matInput formControlName="DNI">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="Direccion">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="Telefono">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="Email">
        </mat-form-field>

    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid">Guardar</button>
</mat-dialog-actions>