<div class="login-container">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Biblioteca - Ingreso</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="login()">

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="username">
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" type="password">
                </mat-form-field>

                <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>

                <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" class="full-width">
                    Ingresar
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>